<!DOCTYPE html>
<html lang="en">

{{>head}}

<body>
    <nav class=" red accent-3">
        <div class="container">
            <div class="nav-wrapper">
                <a href="#!" class="brand-logo">WEATHER</a>
                <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
                <ul class="right hide-on-med-and-down">
                    <li><a href="/">HOME</a></li>
                    <li><a href="/about">ABOUT</a></li>
                    <li class="active"><a href="/help">HELP</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <ul class="sidenav" id="mobile-demo">
        <li><a href="/">HOME</a></li>
        <li><a href="/about">ABOUT</a></li>
        <li><a href="/help">HELP</a></li>
    </ul>

    <section id="error">
        <div class="container">
            <div class="row">
                <div class="m12 s12 center-on-small-only">
                    <h1 class="title center-align">Page not found - 404 Error</h1>
                </div>
            </div>
        </div>
    </section>
    {{>footer}}
    {{>footer}}
</body>



</html>