<!DOCTYPE html>
<html lang="en">

{{>head}}

<body>
    <nav class=" red accent-3">
        <div class="container">
            <div class="nav-wrapper">
                <a href="#!" class="brand-logo">WEATHER</a>
                <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
                <ul class="right hide-on-med-and-down">
                    <li><a href="/">HOME</a></li>
                    <li><a href="/about">ABOUT</a></li>
                    <li class="active"><a href="/help">HELP</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <ul class="sidenav" id="mobile-demo">
        <li><a href="/">HOME</a></li>
        <li><a href="/about">ABOUT</a></li>
        <li><a href="/help">HELP</a></li>
    </ul>

    <section id="help">
        <div class="container">
            <div class="row">
                <div class="m12 s12  center-on-small-only">
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Deserunt autem porro, quod sint ducimus
                    corrupti dolore expedita eaque? Harum sapiente, id sed quo velit voluptatum eaque repellat eveniet
                    illum aut pariatur doloremque dolorem magnam alias voluptate, eligendi, architecto error modi
                    quibusdam placeat officia consequuntur blanditiis. Dicta totam possimus vero excepturi quisquam,
                    mollitia nisi. Quibusdam impedit reprehenderit neque dolores accusamus delectus quaerat doloribus
                    iste, error deleniti, explicabo minima vero fugit. Repellendus expedita fugiat ea quibusdam aliquam
                    facere, aspernatur sunt beatae maxime vel obcaecati quisquam, quae doloremque unde quam, eveniet
                    temporibus omnis totam quaerat voluptate. Nobis, commodi temporibus? Nobis blanditiis quae unde?
                </div>
                <div class="mt"></div>
                <div class="m12 s12  center-on-small-only">
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Deserunt autem porro, quod sint ducimus
                    corrupti dolore expedita eaque? Harum sapiente, id sed quo velit voluptatum eaque repellat eveniet
                    illum aut pariatur doloremque dolorem magnam alias voluptate, eligendi, architecto error modi
                    quibusdam placeat officia consequuntur blanditiis. Dicta totam possimus vero excepturi quisquam,
                    mollitia nisi. Quibusdam impedit reprehenderit neque dolores accusamus delectus quaerat doloribus
                    iste, error deleniti, explicabo minima vero fugit. Repellendus expedita fugiat ea quibusdam aliquam
                    facere, aspernatur sunt beatae maxime vel obcaecati quisquam, quae doloremque unde quam, eveniet
                    temporibus omnis totam quaerat voluptate. Nobis, commodi temporibus? Nobis blanditiis quae unde?
                </div>
            </div>
        </div>
    </section>
    {{>footer}}
</body>

</html>